@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --transparent: #ffffff00;
    --black: #141415;
    --white: #fdfdfe;
    --primary: #f3592a;
    --primary-hover: #f56c41;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-[#e3e3e7];
  }
}

@layer base {
  html {
    height: -webkit-fill-available;
  }

  body {
    height: -webkit-fill-available;
  }

  #root {
    height: -webkit-fill-available;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
div::-webkit-scrollbar,
body::-webkit-scrollbar,
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/** Hide scrollbar for IE, Edge and Firefox */
div,
body,
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
