@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --transparent: #ffffff00;
    --black: #09090b;
    --white: #fdfdfe;

    --background: #09090b;
    --foreground: #dee3ea;

    --muted: #212126;
    --muted-foreground: #838284;

    --accent: #252525;
    --accent-foreground: #f1f5f9;

    --popover: #09090b;
    --popover-foreground: #a1a1aa;

    --border: #252525;
    --input: #1e1e1e;

    --card: #212126;
    --card-foreground: #dee3ea;

    --primary: #0a93f6;
    --primary-foreground: #ffffff;

    --secondary: #2f3037;
    --secondary-foreground: #f1f5f9;

    --destructive: #ef4444;
    --destructive-foreground: #f1f5f9;

    --ring: #1a2435;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-[#e5e7eb]/50;
  }
}

@layer base {
  html {
    height: -webkit-fill-available;
  }

  body {
    height: -webkit-fill-available;
  }

  #root {
    height: -webkit-fill-available;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
div::-webkit-scrollbar,
body::-webkit-scrollbar,
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/** Hide scrollbar for IE, Edge and Firefox */
div,
body,
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer base {
  a {
    &:focus-visible {
      outline: 2px solid var(--primary);
      outline-offset: 2px;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
